@using net_il_mio_fotoalbum.Models.DatabaseModels

@{
    ViewData["Title"] = "Home Page";
}
@model List<Picture>

<div class="text-center">
    <div class="container d-flex justify-content-center flex-column text-center __picture-index">
       
    <h1 class="display-4">Photo Blog</h1>
    <div class="__home-index-search ">
        <h5>Search your pictures</h5>
        <form class="form-inline my-lg-0 d-flex gap-2 ms-auto align-items-center"
              asp-controller="Home"
              asp-action="HomeGetPicturesByName"
              method="get">            
            <input class="form-control mr-sm-2"
                   type="search"
                   placeholder="Search"
                   aria-label="Search"
                   id="__nav-search"
                   name="search" />

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
            </button>
        </form>
    </div>
        
        @if (Model.Count != 0)
        {
            <div class="d-flex justify-content-center  p-3 __picture-container">
                @foreach (var picture in Model)
                {
                    if (picture.IsVisible)
                    {                        
                    <div class="card d-flex flex-column __picture-card">
                        <img class="card-img-top" src="@picture.ImageSrc" alt="picture image">
                        <div class="card-body">
                            <h5 class="card-title">@picture.Name</h5>
                            <p class="card-text">@picture.Description</p>                            
                        </div>
                    </div>
                    }
                }
            </div>
        }
        else
        {
            <div class="">
                <p>Sorry, we don't have any picture with this name, try a new search</p>

            </div>
        }
        
    </div>
    
</div>
