<div class="__go-back-btns-ctn d-flex gap-1 py-2 justify-content-center">
    <div class="">
        <a href="@Url.Action("Index", "Picture")" class="btn btn-primary">Go Back to the pictures list</a>
    </div>
    <div class="">
        <a href="@Url.Action("Index","Home")" class="btn btn-primary">Go back to the homepage</a>
    </div>
</div>